.shopLine{
    position: absolute;
    width: 9px;
    height: 44px;
    left: 223px;
    top: 1433px;
    background: #E4D7B4;
}

.shopTitle{
    position: absolute;
    width: 329px;
    height: 58px;
    left: 248px;
    top: 1425px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
}

.shopPara{
    position: absolute;
    width: 444px;
    height: 210px;
    left: 227px;
    top: 1502px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    letter-spacing: 0.1em;
    color: #827E7E;
}

.shopBtn{
    position: absolute;
    width: 204px;
    height: 54px;
    left: 192px;
    top: 1766px;
    border: 2px solid #BC9A44;
    box-sizing: border-box;
    text-align: center;
}

.shopGo{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */
letter-spacing: 0.1em;
color: #000000;
}

.btnLine{
    position: absolute;
    width: 151px;
    height: 0px;
    left: 190px;
    top: 25px;
    border: 2px solid #000000;
}

.shopRect{
    position: absolute;
    width: 524px;
    height: 345px;
    left: 784px;
    top: 1407px;
    background: rgba(188, 154, 68, 0.4);
    z-index: 1;
}

.restaurant{
    position: absolute;
    width: 516px;
    height: 345px;
    left: -50px;
    top: 40px;
    z-index: 0;
}